.pizzeria {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  margin: 0 auto;
  position: relative; }
  .pizzeria__pizza-price {
    height: 500px;
    width: 500px;
    /* border-radius: 100%; */
    left: 0;
    margin-left: 0;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: absolute;
    font-size: 40px;
    padding: 20px;
    box-sizing: border-box; }
  .pizzeria__ingredients {
    display: inline-block;
    flex-grow: 1;
    flex-basis: calc(100% / 90);
    margin-left: 10px;
    margin-right: 10px; }
    .pizzeria__ingredients__item {
      padding: 5px 0;
      border-bottom: 2px solid silver;
      min-height: 25px;
      text-align: -webkit-center;
      min-width: 150px;
      cursor: pointer;
      display: flex;
      flex-direction: row-reverse;
      text-align: left;
      align-items: center;
      justify-content: flex-end;
      text-transform: capitalize; }
      .pizzeria__ingredients__item-checked {
        opacity: 0;
        transition: all 250ms;
        width: 0; }
        .pizzeria__ingredients__item-checked::after {
          content: '';
          width: 9px;
          height: 5px;
          top: 5px;
          left: 4px;
          border: 3px solid #1f201c;
          border-top: none;
          border-right: none;
          background: #fffefef2;
          opacity: 1;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          display: inline-block;
          opacity: 1;
          transition: all 200ms;
          border-bottom-color: transparent;
          border-left-color: transparent; }
      .pizzeria__ingredients__item.selected .pizzeria__ingredients__item-checked {
        opacity: 1;
        margin: 0 10px;
        width: auto; }
        .pizzeria__ingredients__item.selected .pizzeria__ingredients__item-checked::after {
          border-bottom-color: #1f201c;
          border-left-color: #1f201c; }
  .pizzeria__pizza {
    height: 500px;
    width: 500px;
    border-radius: 100%;
    left: 0;
    margin-left: 0;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    display: inline-block;
    flex-grow: 1;
    flex-basis: calc(100% / 2); }
    .pizzeria__pizza .pizzeria__ingredients__item {
      position: absolute;
      height: 500px;
      width: 500px;
      background-size: 100%;
      background-position-x: 520px;
      border-radius: 100%;
      border: none; }
  .pizzeria__masas {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 1); }
    .pizzeria__masas-item {
      height: 100px;
      background-position-y: -50%;
      background-size: 75%;
      background-repeat: no-repeat;
      margin-top: 20px;
      display: inline-block;
      flex-grow: 1;
      flex-basis: calc(100% / 3);
      cursor: pointer; }

@media screen and (max-width: 650px) {
  .pizzeria {
    width: 500px; }
    .pizzeria__pizza {
      flex-basis: calc(100% / 1); }
    .pizzeria__masas-item {
      background-size: 100%; } }

/*# sourceMappingURL=style.css.map */