.pizzeria {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  &__pizza_reset >button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  &__pizza-price {
    left: 40%;
    bottom: 30%;
    margin-left: 0;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: absolute;
    font-size: 40px;
    padding: 20px;
    box-sizing: border-box;
  }
  &__ingredients {
    display: inline-block;
    flex-grow: 1;
    flex-basis: calc(100% / 3);
    &__item {
      padding: 5px 0;
      border-bottom: 2px solid silver;
      min-height: 25px;
      text-align: -webkit-center;
      min-width: 150px;
      cursor: pointer;
      display: flex;
      flex-direction: row-reverse;
      text-align: left;
      align-items: center;
      justify-content: flex-end;
      text-transform: capitalize;
      &-checked {
        opacity: 0;
        transition: all 250ms;
        width: 0;
        &::after {
          content: '';
          width: 9px;
          height: 5px;
          top: 5px;
          left: 4px;
          border: 3px solid #1f201c;
          border-top: none;
          border-right: none;
          background: #fffefef2;
          opacity: 1;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          display: inline-block;
          opacity: 1;
          transition: all 200ms;
          border-bottom-color: transparent; 
          border-left-color: transparent;
        }
      }
      &.selected &-checked {
        opacity: 1;
        margin: 0 10px;
        width: auto;
        &::after {
          border-bottom-color: #1f201c; 
          border-left-color: #1f201c;
        }
      }
    }
  }
  &__pizza {
    height: 500px;
    width: 500px;
    border-radius: 100%;
    left: 0;
    margin-left: 0;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    display: inline-block;
    flex-grow: 1;
    flex-basis: calc(100% / 2);
    .pizzeria__ingredients__item {
      position: absolute;
      height: 500px;
      width: 500px;
      background-size: 100%;
      background-position-x: 520px;
      border-radius: 100%;
      border:none;
    }
  }
  &__masas{
    display: flex;
    flex-wrap: wrap;
    &-item{
      flex-grow: 1;
      flex-basis: calc(100% / 3);
      width: 200px;
      height: 110px;
      background-position-y: 20px;
      background-size: 200px;
      background-repeat: no-repeat;
      margin-top: 20px;
      display: inline-block;
      flex-grow: 1;
      flex-basis: calc(100% / 3);
      cursor: pointer;
    }
  }
}