.pizzeria {
  display: flex;
}
.pizzeria .pizza-price{
  height: 500px;
  width: 500px;
  /* border-radius: 100%; */
  left: 0;
  margin-left: 0;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: absolute;
  font-size: 40px;
  padding: 20px;
  box-sizing: border-box;
}
.pizzeria > .ingredientes{
  margin-top: 25px;
}
.pizzeria > .ingredientes .ingredientes__item{
  padding: 5px 0;
  border-bottom: 2px solid silver;
  min-height: 25px;
  text-align: -webkit-center;
  min-width: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  align-items: baseline;
  justify-content: flex-end;
}
.pizzeria > .ingredientes .ingredientes__item .checked{
  opacity: 1;
  transition: all 250ms;
  margin: 0 10px;
}
.pizzeria > .ingredientes .ingredientes__item .checked::after{
  content: '';
  width: 9px;
  height: 5px;
  top: 5px;
  left: 4px;
  border: 3px solid #1f201c;
  border-top: none;
  border-right: none;
  background: #fffefef2;
  opacity: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  opacity: 1;
}
.pizzeria>.pizza {
  height: 500px;
  width: 500px;
  border-radius: 100%;
  left: 0;
  margin-left: 0;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.pizzeria>.pizza>.ingredientes__item {
  position: absolute;
  height: 500px;
  width: 500px;
  background-size: 100%;
  background-position-x: 520px;
  border-radius: 100%;
}

